table{
    margin: auto;
    
}

th{
    background-color: teal;
    color:plum;
    padding: 3px;
    
}
td{
    background-color: powderblue;
    color: black;
}
#tabla{
    border-collapse: separate;
    text-align: center;
}
.pCapitulos {
    margin-top: 10px;
    padding-left: 5px;
}