
.sectionMain{
    position: relative;
    padding: 20px;
    
}
.sectionMain p {
    margin-bottom: 30px;
    font-size: 15px;
    color:rosybrown;
    text-align: center;
}
.sectionMain h4{
  color: burlywood;
  text-align: center;
}