footer{
    background-color: $bg-footer;
    .footer__footer1{
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        
    }
    .footer__redesSociales{
        display: flex;
        justify-content: space-around;
        filter: invert(0.1) sepia(20) hue-rotate(50deg);
        padding: 20px 300px;
    }
}
@media only screen and (max-width: 900px)
 {
    footer{
        
        .footer__footer1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 15px;
            text-align: center;
            padding-bottom: 5px;
            
        }
        .footer__redesSociales{
            
            padding: 0;
        }
    }
     
 }