header{
    
    box-shadow: 0 10px 5px 5px rgba(240, 238, 238, 0.844);
     
    .menu{
        width: 100%;
        position: fixed;
        z-index: 100;
        text-align: center;    
        background-color: rgba(226, 222, 222, 0.707);
        padding-bottom: 10px;
        margin-bottom: 20px;
        .logo {
            width: 70px;
            border: 1px solid grey;
            clip-path: circle(65% at center);
            
        }
        &:hover{
            background-color: rgba(0,0,0,0.6);
            
            .nav-link {
                color: white ;
            }
            #navbarDropdown{
                color: rgba(250, 248, 248, 0.905);
                font-weight: bold;
            
            }
        }
        
    
    }

}