/* variables */
$font-Simpson:'Rock Salt', cursive;
$font-general:'Arial', cursive;
$color-Link: rgba(18, 55, 51, 0.727);
$color-h2: crimson;
$bgcolorMain:#0c262f;
$bgcolorSecond: #214854;
$bgcolorThird:#3f807e;
/* Import */
@import "footer";
@import "menu";
@import "estiloAbout";
@import "estiloCapitulos";
@import "estiloGenealogia";
@import "estiloMapa";
html {
    
    
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgb(247, 247, 247);
    background-position: center;
    color: black;
    font-family: 'Poppins', sans-serif;
}
/* clases */


    

.titulo{
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .tituloApi{
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 1px black;
        color: rgb(51, 48, 48);
        transition: 10000ms;
        letter-spacing: 1px;
    }
    .tituloPrincipal{
        display:flex;
        justify-items: center;
        width: 40%;
        height: 150px;
        font-size: 1em;
        border-bottom: solid red;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        
        font-family: 'Rock Salt', cursive;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: yellow;
        position: relative;
        .text{
            
            font-size: 100%;
        }
        .tituloPrincipal__trapezoid{
            
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(209, 209, 209);
            transform: perspective(6px) rotateX(179deg);
    
        }
    }
}

    section{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 20px;
        margin: auto;
        margin-bottom: 50px;
        .sectionMain__personajes{
            margin-top: 20px;
            margin-left:30px ;
            margin-right: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
                .sectionMain__personajes__Element{
                    border-radius: 1rem;
                    box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: white;
                    width: 20%;
                    height: 350px;
                    margin-top: 10px;
                    overflow: hidden; 
                    transition: 0.5s;
                    
                   
                    position: relative;
                    transition: 600ms all;
                    transform-origin: center left;
                    .personaje__description{
                        margin: 4px;
                        transform: translateY(200%);
                        
                        p{
                            text-align: justify;
                            
                            font-size: 12px;
                            
                            
                            z-index: 5;
                        }
                       
                        
                   
                    
                }
                
           
            }
            #centrar {
                
                margin: 10px auto;
            }
    }
    }
    
   
    
    section {
        .contenedorTemas{
            text-align: justify;
            border-radius: 1rem;
            box-shadow: 1px -5px 10px 1px rgba(0, 0, 0, 0.25);
            border: 1px solid black;
            margin: auto;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
            img {
                width: 30%;
            }
            .Tema{
                width: 50%;
            }
            
        }
        #invertido{
            display: flex;
            flex-direction: row-reverse;
        }
    }
    /* Bloques adicionales */

.sectionMain__personajes__Element:hover ~ .sectionMain__personajes__Element {
    transform: translate3d(100px, 0,0);
    
    }
    .sectionMain__personajes__Element:hover {
        .sectionMain__personajes {
            opacity: 0.3;
        }
        
        
    
    
    }
    .sectionMain__personajes:hover .sectionMain__personajes__Element:hover {
    transform: scale(1.2);
    
    height: 400px;
    opacity:1;
    margin-top: 80px;
    margin-bottom: 80px;
    
    border-radius: 20px;
    text-align: center;
        #im{
            height: 100px;
        }
        .personaje__description{
            transform: translateY(0);
        }
       
    }

  
/* selectores */
a{
    text-decoration: none;
    color: $color-Link;

}
ul{
    list-style: none;
    display: inline;
    
}
#im {
    height: 300px;
    
    
}
h1 {
    background-image: url("../Imagenes globales/ezgif.com-gif-maker.gif");
	background-clip: block;
	background-size: cover;
	color: transparent;
    background-clip: border;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 7rem;
	line-height: .75;
	margin: 10px 0;
    
}
h2{
    z-index: 2 ;
    position: absolute;
    width: 100%;
    padding-top: 20px;
    color: $color-h2;
    margin-top:20px;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: $font-Simpson
  }
  h3{
    color: #FFA24F    ;
    
    font-family: $font-general;
    font-weight: bold;
    text-align: center;
}

 @media only screen and (max-width: 1050px)
 {
    .titulo{
        
        height: 400px;
        font-size: 10rem;
        padding-top: 12%;
        justify-content: center;
        display:flex;
        
        align-items: center;
        
        justify-content: center;
        text-align: center;
        margin: auto;
        
        .tituloPrincipal{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 5px;
            margin: 0;
            .tituloPrincipal__trapezoid{
            
                margin:0;
                
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgb(209, 209, 209);
                transform: perspective(6px) rotateX(179deg);
    
            }
        }
       
       
        
    }
    
    h1{
        margin-top: 20px;
        font-size: 7rem;
    }
    h2{
        padding-top: 0;
        margin-top: 0;
    }
    
    
    section{
            display: block;
            .sectionMain__personajes{
                
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                
                justify-items: center;
                margin: 0 ;
                .sectionMain__personajes__Element{
                    width:70%;
                }
           
        }
        }
            
           
            
          
     }
    

 
 @media only screen and (max-width: 800px)
 {
    .titulo{
        
        height: 400px;
        font-size: 10rem;
        padding-top: 15%;
        display:flex;
        
        align-items: center;
        justify-content: center;
        
        text-align: center;
        margin: auto;
        
        .tituloPrincipal{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 10px;
            margin: 0;
            .tituloPrincipal__trapezoid{
            
                margin: auto;
                padding-top: 20px;
                padding-bottom: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgb(209, 209, 209);
                transform: perspective(44px) rotateX(176deg);
    
            }
        }
       
       
        
    }
    
    h1{
        margin-top: 30px;
        font-size: 4rem;
        
    }
    h2{
        padding-top: 0;
    }
    
    
    section{
            display: block;
            .sectionMain__personajes{
                
                display:grid;
                grid-template-columns: 1fr 1fr;
                
                justify-items: center;
                margin: 0 ;
                .sectionMain__personajes__Element{
                    width:70%;
                }
           
        }
        }
            
           
         
 }
 @media only screen and (max-width: 650px)
 {
    .titulo{
        
        height: 400px;
        font-size: 10rem;
        
        display:flex;
        justify-items: center;
        align-items: center;
        
        
        text-align: center;
        margin: auto;
        
        .tituloPrincipal{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
            width: 70%;
            .tituloPrincipal__trapezoid{
            
                margin: auto;
                padding-top: 20px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgb(209, 209, 209);
                transform: perspective(6px) rotateX(179deg);
    
            }
        }
       
       
       
    }
    
    h1{
        margin-top: 80px;
        font-size: 2rem;
    }
    h2{
        padding-top: 0;
    }
    
    
    section{
            display: block;
            .sectionMain__personajes{
                
                display:grid;
                grid-template-columns: 1fr;
                
                justify-items: center;
                margin: 0 ;
                .sectionMain__personajes__Element{
                    width:70%;
                }
           
        }
        }
      section {
          .contenedorTemas{
              display: flex;
              flex-direction: column-reverse;
              padding-top: 5px;
              .Tema{
                  width:70%
              }
          }
          #invertido{
            display: flex;
            flex-direction: column-reverse;
        }
      }      
      
           
         
 }
@keyframes appear-animation {
   0% {
        transform: translateY(5rem);
    }
    100% {
        
        transform: translateY(0);
    }
 
     
   
}